[submodule "programs/bem"]
	path = programs/bem
	url = https://github.com/P4o1o/bem
[submodule "scripts/pvenv"]
	path = scripts/pvenv
	url = https://github.com/P4o1o/pvenv
[submodule "programs/ansicolor"]
	path = programs/ansicolor
	url = https://github.com/P4o1o/ansicolor
[submodule "programs/cproj"]
	path = programs/cproj
	url = https://github.com/P4o1o/cproj
