[submodule "programs/bem"]
	path = programs/bem
	url = git@github.com:P4o1o/bem.git
[submodule "scripts/pvenv"]
	path = scripts/pvenv
	url = git@github.com:P4o1o/pvenv.git
[submodule "programs/ansicolor"]
	path = programs/ansicolor
	url = git@github.com:P4o1o/ansicolor.git
[submodule "programs/cproj"]
	path = programs/cproj
	url = git@github.com:P4o1o/cproj.git
